# Python cache & compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
env/
venv/
ENV/

# Environment variables
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Packaging
build/
dist/
*.egg-info/

# Test & coverage
.pytest_cache/
htmlcov/
.coverage

# Logs
*.log

# Other cache
.cache/


.env.docker
